<div class="card-header">
  <h4 class="card-title">Your income chart</h4>
</div>
<div class="card-content collapse show">
  <div class="card-body">
    <div clas="row">
    </div>
    <%= column_chart @income_by_month %>
  </div>
</div>
