<div class="card-header">
  <h4 class="card-title">Overall invoices</h4>
</div>
<div class="card-content collapse show">
  <div class="card-body">
    <div clas="row">
    </div>
    <%= column_chart @overall_invoices %>
  </div>
</div>
