<h1>Dashboard</h1>
<div class="row">
  <div class="col-lg-4">
    <h3>Your candidates in progress(<%= @candidates.count %>)</h3>
    <%= render 'shared/candidates', candidates: @candidates %>
  </div>
  <% if @upcoming_events.present? %>
    <div class="col-lg-8">
      <h3>Your upcoming events (next 7 days)</h3>
      <%= render 'shared/events', events: @upcoming_events %>
    </div>
  <% end %>
</div>
