<h1>Dashboard</h1>
<div class="row">
  <div class="col-4">
    <h3>Your last 10 updated candidates</h3>
    <%= render 'shared/candidates', candidates: @last_candidates %>
  </div>
  <% if @upcoming_events.present? %>
    <div class="col-8">
      <h3>Upcoming events</h3>
      <%= render 'shared/events', events: @upcoming_events %>
    </div>
  <% end %>
</div>
