<div class='row'>
  <div class='col-md-4'>
    <br/>
    <h1>Candidates</h1>
  </div>
  <div class='col-md-3'>
    <br/>
    <%= link_to 'New Source', new_source_path, class:'btn btn-primary' %>
  </div>
</div>
<br>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @sources.each do |source| %>
      <tr>
        <td><%= link_to source.name, source %></td>
        <td><%= link_to 'Edit', edit_source_path(source) %></td>
        <td><%= link_to 'Delete', source, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
