<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% vacancy.assignments.in_progress.active.each do |assignment| %>
      <tr>
        <td><%= link_to assignment.candidate.name, assignment.candidate %></td>
        <td><%= assignment.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>
