<div class='row'>
  <div class='col-md-4'>
    <br/>
    <h1>Vacancies</h1>
  </div>
  <div class='col-md-3'>
    <br/>
    <%= link_to 'New Vacancy', new_vacancy_path, class:'btn btn-primary' %>
  </div>
</div>
<br>

<%= render 'vacancies', vacancies: @vacancies %>
