<div class='row'>
  <div class='col-md-4'>
    <br/>
    <h1>Skills</h1>
  </div>
  <div class='col-md-3'>
    <br/>
    <%= link_to 'New Skill', new_skill_path, class:'btn btn-primary' %>
  </div>
</div>
<br>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @skills.each do |skill| %>
      <tr>
        <td><%= link_to skill.name, skill %></td>
        <td><%= link_to 'Edit', edit_skill_path(skill) %></td>
        <td><%= link_to 'Delete', skill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
