<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Assignments</th>
    </tr>
  </thead>

  <tbody>
    <% candidates.each do |candidate| %>
      <tr>
        <td><%= link_to candidate.name, candidate %></td>
        <td><%= candidate.assignments.active.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>


