<%= form.fields_for(:assignments) do |f| %>
  <div class="form-group col">
    <%= f.label :status, "#{f.object.vacancy.name} at #{f.object.vacancy.company.name}, last updated at #{f.object.updated_at.to_date} " %>
    <% if f.object.vacancy.closed? %>
      <%= f.text_field :status, class:'form-control', readonly: true %>
    <% else %>
      <%= f.text_field :status, class:'form-control' %>
    <% end %>
  </div>
<% end %>
