<div class='row'>
  <div class='col-md-4'>
    <br/>
    <h1>Candidates</h1>
  </div>
  <div class='col-md-3'>
    <br/>
    <%= link_to 'New Candidate', new_candidate_path, class:'btn btn-primary' %>
  </div>
</div>
<br>

<%= render "filter" %>
<%= render "candidates", candidates: @candidates %>


