<div class='row'>
  <div class='col-md-4'>
    <br/>
    <h1>Candidates</h1>
  </div>
  <div class='col-md-3'>
    <br/>
    <%= link_to 'New Candidate', new_candidate_path, class:'btn btn-primary' %>
  </div>
</div>
<br>

<div class="row">
  <div class="col-8">
    <%= render "filter" %>
  </div>
  <div class="col-4">
    <% if current_user.has_role? :admin %>
      <%= link_to "Export candidates to XLS", candidates_path(format: "xlsx",
                                                              by_user: params[:by_user],
                                                              by_status: params[:by_status]
                                                             ), class:'btn btn-primary pull-right' %>
    <% end %>
  </div>
</div>

<div class="row">
  <div id="candidates" class="col-12 col-md-12">
    <div class="card">
      <div class="card-content mt-1">
        <div class="table-responsive">
          <%= render "candidates", candidates: @candidates %>
        </div>
      </div>
    </div>
  </div>
</div>


